# Tipo de banco de dados utilizado
TYPEORM_CONNECTION =

# Host do banco de dados
TYPEORM_HOST =

# Username do banco de dados
TYPEORM_USERNAME =

# Senha do banco
TYPEORM_PASSWORD =

# Nome do banco
TYPEORM_DATABASE =

# Porta do banco de dados
TYPEORM_PORT =

# Padrão das migrations
TYPEORM_MIGRATIONS =

# Diretório onde devem ser criadas as migrations com o comando `typeorm migration:create`
TYPEORM_MIGRATIONS_DIR =

# Diretórios onde serão encontradas as entidades
TYPEORM_ENTITIES =
